@{
    ViewData["Title"] = "Tasks";
    Layout = "_AdminLayout";
}
@model IEnumerable<Student_Performance_Management_System.Models.Tasks>;
<div class="container-fluid">

    <!-- Page Header -->
    <div class="d-flex justify-content-between align-items-center mb-4 px-3 py-3 bg-white rounded shadow-sm border">
        <div class="d-flex align-items-center gap-2">
            <i class="bi bi-list-task fs-4 text-primary"></i>
            <h4 class="fw-semibold mb-0">Tasks</h4>
        </div>

        <a asp-action="AddTask" class="btn btn-primary d-flex align-items-center gap-2 px-4">
            <i class="bi bi-plus-circle"></i>
            <span>Add Task</span>
        </a>
    </div>


    <!-- task Table -->
    <div class="card shadow-sm">
        <div class="card-body p-0">
            <table class="table table-hover mb-0 align-middle">
                <thead class="table-light">

                    <tr>
                        <th hidden>Id</th>
                        <th>Title</th>
                        @* <th>Description</th> *@
                        <th>Assigned To</th>
                        <th>Course</th>
                        <th>Group</th>
                        <th>Subject</th>
                        @* <th>Status</th *@
                        <th>Valid Till</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>

                <tbody>
                   
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td hidden>@item.TasksId</td>
                            <td>@item.Title</td>
                           @* <td>@item.Description</td> *@
                            <td>@item.Staff.Name</td>
                            <td>@item.Course.CourseName</td>
                            <td>@item.CourseGroup.GroupName</td>
                            <td>@item.Subject.SubjectName</td>
                            @* <td>@item.Status</td> *@
                            <td>@item.ValidTo.Date</td>
                            <td class="text-center">
                                <a asp-action="EditTask" asp-route-id="@item.TasksId"
                                   class="btn btn-sm btn-outline-warning me-1">
                                    <i class="bi bi-pencil"></i>
                                </a>

                                <a asp-action="DeleteTask" asp-route-id="@item.TasksId"
                                   class="btn btn-sm btn-outline-danger"
                                   onclick="return confirm('Are you sure you want to delete this student?');">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>
    </div>

</div>

